<!-- templates/_plus_over_10.html -->
<table class="with_header">
    <tr class="header">
        <td style="text-align: right;"><script>document.write(a[ids[{{idx}}]]);</script></td>
        <td> + </td>
        <td><script>document.write(b[ids[{{idx}}]]);</script></td>
        <td> = </td>
        {% if solution %}
            <td><script>document.write(a[ids[{{idx}}]] + b[ids[{{idx}}]]);</script></td>
        {% else %}
            <td><div class="box">&nbsp;</div></td>
        {% endif %}
    </tr>
        <tr>
            <td style="text-align: right;"><script>document.write(a[ids[{{idx}}]]);</script></td>
            <td> + </td>
            {% if solution %}
                <td><script>document.write(10 - a[ids[{{idx}}]]);</script></td>
            {% else %}
                <td><div class="box">&nbsp;&nbsp;</div></td>
            {% endif %}
            <td> = </td>
            <td>10</td>
        </tr>
        <tr>
            <td style="text-align: right;">10</td>
            <td> + </td>
            {% if solution %}
                <td><script>document.write(a[ids[{{idx}}]] + b[ids[{{idx}}]] - 10);</script></td>
            {% else %}
                <td><div class="box">&nbsp;&nbsp;</div></td>
            {% endif %}
            <td> = </td>
            {% if solution %}
                <td><script>document.write(a[ids[{{idx}}]] + b[ids[{{idx}}]]);</script></td>
            {% else %}
                <td><div class="box">&nbsp;&nbsp;</div></td>
            {% endif %}
        </tr>
</table>