<!-- templates/index.html -->
<link rel="stylesheet" href="css/style.css">

{% set idx = 0 %}

<table style="margin-left:auto; margin-right:auto;">
    <script>
        var a = [5];
        var b = [8];
        var ids = [0]
    </script>
    <tr>
        <td>{% include '_plus_over_10.html' %}</td>
        <td style="vertical-align: top;"><a href="plus_over_10.html">Addition above 10 with intermediate step</a></td>
    </tr>

    <script>
        a = [68];
    </script>
    <tr>
        <td>{% include '_number_deconstruction_two_digits.html' %}</td>
        <td style="vertical-align: top;"><a href="number_deconstruction_two_digits.html">Decomposition of two digit numbers</a></td>
    </tr>    
</table>
